[user]
	name = ben-dalton
	email = benadalton@gmail.com
[push]
	default = simple
[credential]
	helper = cache --timeout=3600
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[core]
	pager = less -F -X
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  au = update-index --assume-unchanged
  nau = update-index --no-assume-unchanged
